{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "plugins": ["react", "@typescript-eslint", "prettier", "react-hooks"],
  "parser": "@typescript-eslint/parser",
  "env": { "browser": true, "node": true, "es6": true, "jest": true },
  "parserOptions": {
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": ["*.ts", ".tsx"]
    }
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "rules": {
    "react-hooks/rules-of-hooks": "warn",
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "auto"
      }
    ],
    "linebreak-style": 0,
    "endOfLine": 0,
    "@typescript-eslint/explicit-function-return-type": 0
  }
}
